/* General Styles */
* {
  font-family: "Anton", sans-serif !important;
  font-weight: bolder;
  user-select: none;
}

body {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.datepicker-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px; 
}


.datepicker {
  display: inline-block;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: 5%;
}

 input {
  width: 300px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: all 0.5s;
}

input:hover  {
  scale: 1.1;
}

.datepicker:hover > i {
  scale: 1.4;
  right: 25px;
}

.datepicker:hover > .current {
  color: white;
}

.current {
  text-align: center;
  position: absolute;
  top: -11px;
  left: 25px;
  font-size: 0.6rem;
  color: rgba(255, 255, 255, 0.308);
  transition: all 0.5s;
}

.bx-revision {
  position: absolute;
  z-index: 1;
  right: 30px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.5s;
}

/* Calendar Styles */
.calendar {
  display: none; /* Hide calendar by default */
  width: 350px;
  position: absolute;
  top: 1%;
  left: 40%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.month-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 14.28%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.day:hover {
  scale: 1.1;
  background-color: #eee;
}

button {
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background-color: #000000;
  color: white;
}

button:focus {
  scale: 1.1;
  background-color: #000000;
  color: white;
}

/* Calendar Button Styles */
.calendar-button {
  background-color: rgb(0, 0, 0);
  border: none;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  padding: 7px 10px;
  transition: all 0.5s;
  color: white;
  border: solid 1px transparent;
}

.calendar-button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: solid 1px rgb(0, 0, 0);
}

.calendar-button:focus {
  scale: 1.1;
  background-color: #000000;
  color: white;
  border: solid 1px white;
}

.calendar-button i {
  margin-left: 5px;
}
